.wrap
{
	float: left;
	position: relative;
	max-width: 100%;

	max-height: 100%;
	width: 794px;
	height: 606px;
}
/*img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: auto;
    height: 100%;
}*/
.headbox
{
	height: 13%;
	position:relative;
	/*border:1px solid black;*/
}
.heading
{
	position: relative;
	color:#512D77;
	left: 3%;
	top:5%;
	font-size: 48px;
	font-family:"Britannic";
}

.heading2
{
	position: absolute;
	color:#ACBDB3;
	font-size: 13px;
	top: 67%;
	left:24%;
	font-family: arial;

}
.box3-1
{
	color: #AAA4C0;
	position: absolute;
	font-size: 11px;
	top:10%;
	left:5%;
	font-family: "arial";
}
.box3-2
{

	
	position: absolute;
	font-size: 14px;
	top:20%;
	right:5%;
	color: #C2896E;
	font-family: "arial";
	font-weight: bold;
}
.number
{
	position: relative;
	left: 5%;
}
.basket
{
	position: absolute;
	top: 10%;
	left: 35%;
}
.verticalline
{
	position: absolute;
	width: 2px; 
  background-color: #A9B4C6; 
  height: 100%; /
  float: left;
  left: 30%; 
}
.heading3
{
	position: absolute;
	top: 10%;
	right: 3%;
	width: 43%;
	height: 70%;
    border: 2px solid #A9B4C6;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    background-color: #D1EAF1;
    
}
.colorline
{
	position: relative;
	margin-top:-5px;
}
.menubox
{
	position: relative;
}
.menu
{
	position: relative;
	float: left;
	left:-2%;
	margin-left: 5.1%;
	margin-top: 0.5%;
	color: #9D998E;
	font-family:"arial";
	font-size: 14px;


}

#boxleft
{
	position: relative;
	width:334px; 
	height:384px;
	
	float: left;
}

#inboxleft1
{
	position: relative;
	width: 334px;
	height: 221px;
	
}
#inboxleft2
{
	position: relative;
	float: left;
	width: 104px;
	height: 157px;
	
	margin-top: 5px;
}
#inboxleft3
{
	position: relative;
	width: 222px;
	height: 157px;
	float: left;
	margin-top: 5px;
	margin-left: 8px;
	background-color: #EF7A82;
	font-family: "arial";
}

#boxright
{
	position: relative;
	width:450px;
	left: 6px; 
	height:384px;
	
	float: left;
}

#boxbaby
{
	position: relative;
	width: 251px;
	height: 86px;
	float: left;
	top: 5px;
	font-family: "arial";
	background-color: #B59AC3;
	color: white;
}

#boxbtmright
{
	position: relative;
	width: 506px;
	height: 86px;
	float: left;
	top: 5px;
	left: 9px;
	font-family: "arial";
	background-color: #8DCAC3	;
	color: white;

} 